nav + div {
  display: block;
  background: #f9f9f9;
}
#things > div {
  position: relative;
}
#things > h1 {
  display: block;
  position: relative;
  margin-left: -150px;
  width: 281px;
}
nav + div {
  position: relative;
  left: 40px;
}
