@media screen and (min-width: 768px) {
  #things {
    margin-left: -395px;
    width: 790px;
  }
  #things > div {
    left: 0px;
  }
  #things > h1 {
    left: 51%;
  }
  nav + div {
    width: 700px;
    top: 54px;
  }
}
