@media screen and (max-width: 480px) {
  #things {
    margin-left: -182.5px;
    width: 365px;
  }
  #things > div {
    left: 10px;
  }
  #things > h1 {
    font-size: 25px;
    left: 41%;
  }
  nav + div {
    width: 265px;
    top: 25px;
  }
}
