@import "reset.css";
@charset "utf-8";

@reg_w:500px;
@reg_h:400px;

html{
	background: url(../img/background.jpg) 50% 50% /  no-repeat fixed;
}

.box-shadow(@x: 1px, @y: 1px, @blur: 0px, @color: #212121) {
	-webkit-box-shadow: @x @y @blur @color;
	-moz-box-shadow: @x @y @blur @color;
	box-shadow: @x @y @blur @color;
}

.listbox{
	position: absolute;
	display: block;
	background-color: rgba(255,255,255,0.7);
	height: @reg_h;
	width: @reg_w;
	top:50%;
	left:50%;
	margin-left: -1 * @reg_w / 2;
	margin-top: -1 * @reg_h / 2;
	.box-shadow(0px,0px,100px,#787878);
}

.box{
	position: absolute;
}

.name{
	top: 10px;
	left: (@reg_w - 350px)/2;
}

.look{
	position: absolute;
	border-radius: 5px;
	height: 50px;
	width: 350px;
	font-size: 24px;
	font-family: "微软雅黑";
	top: 50px;
	border:solid 2px #CCCCCC;
	outline:none;
	padding: 15px;
}
.left{
	border-radius: 5px 0px 0px 5px;
	display: block;
	position: absolute;
	background: #CCCCCC;
	height: 50px;
	width: 0px;
	top: 50px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.inf{
	display: block;
	position: absolute;
	top:62px;
	left:17px;
	font-size: 24px;
	color:#CCCCCC;
}

.look:focus~.left{
	width: 7px;
}

.look:focus~.inf{
	color:#FFFFFF;
}
