@charset "utf-8";

@import "computer.less";
@import "pad.less";
@import "phone.less";

html {
	background: url(../img/background.jpg) 50% 50% no-repeat fixed;
	min-width: 320px;
}

.box-shadow(@x: 1px, @y: 1px, @blur: 0px, @color: #212121) {
	-webkit-box-shadow: @x @y @blur @color;
	-moz-box-shadow: @x @y @blur @color;
	box-shadow: @x @y @blur @color;
}

.listbox {
	position: absolute;
	display: block;
	background-color: rgba(255, 255, 255, 0.7);
	top: 50%;
	left: 50%;
	.box-shadow(0px, 0px, 50px, #787878);
    border-radius: 15px;
}

.box {
	position: absolute;
}

.look {
	position: absolute;
	border-radius: 5px;
	font-family: "微软雅黑";
	border: solid 2px #CCC;
	outline: none;
	-webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
}

.left {
	border-radius: 5px 0px 0px 5px;
	display: block;
	position: absolute;
	background: #66CC99;
	opacity: 0;
	width: 0px;
	top: 50px;
	-webkit-transition: width 0.3s ease-out, opacity 0.1s linear;
	-moz-transition: width 0.3s ease-out, opacity 0.1s linear;
	-ms-transition: width 0.3s ease-out, opacity 0.1s linear;
	-o-transition: width 0.3s ease-out, opacity 0.1s linear;
	transition: width 0.3s ease-out, opacity 0.1s linear;
}

.look:focus~.left {
	width: 7px;
	opacity: 1;
}
.look:focus {
    border-color: #66CC99;
}

.look::-webkit-input-placeholder {
	color: #999;
	-webkit-transition: color.5s;
}

.look:focus::-webkit-input-placeholder,
.look:hover::-webkit-input-placeholder {
	color: #c2c2c2;
}

.enter{
    display: block;
    position: absolute;
    border-radius: 50px;
    border: solid 0px;
    background-color: #58cb73;
    outline: none;

    font-family: "微软雅黑";
    color: #FFF;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.enter:hover{
    background-color: #2eb06f;
}

.enter:active{
    border: solid 2px #99CC99;
}
