@charset "utf-8";
nav + div {
  display: block;
  background: #f9f9f9;
}
#things > div {
  position: relative;
}
#things > h1 {
  display: block;
  position: relative;
  margin-left: -150px;
  width: 281px;
}
nav + div {
  position: relative;
  left: 40px;
}
@media screen and (min-width: 768px) {
  #things {
    margin-left: -395px;
    width: 790px;
  }
  #things > div {
    left: 0px;
  }
  #things > h1 {
    left: 51%;
  }
  nav + div {
    width: 700px;
    top: 54px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  #things {
    margin-left: -250px;
    width: 500px;
  }
  #things > div {
    left: -20px;
  }
  #things > h1 {
    left: 46%;
  }
  nav + div {
    width: 450px;
    top: 51px;
  }
}
@media screen and (max-width: 480px) {
  #things {
    margin-left: -182.5px;
    width: 365px;
  }
  #things > div {
    left: 10px;
  }
  #things > h1 {
    font-size: 25px;
    left: 41%;
  }
  nav + div {
    width: 265px;
    top: 25px;
  }
}
