@import "normalize.css";
@charset "utf-8";
a:link,
a:visited {
  color: #AAA;
}
#things {
  position: absolute;
  display: block;
  min-width: 550px;
  left: 50%;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
}
body {
  background: #77807f url(../img/BackGround.jpg) center top repeat !important;
}
