@media screen and (min-width : 768px){
@box_w:700px;

#things{
    margin-left: -1 * @box_w / 2;
    width: @box_w;
}
#things>h1{
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -1 * 8.5em / 2;
    width: 8.5em;
}
nav + div{ 
    position: absolute; 
    width: 100px;
    top:70px;
    left:60px;
}

}